@font-face {
  font-family: 'yta';
  src:  url('fonts/yta.eot?z9d2s8');
  src:  url('fonts/yta.eot?z9d2s8#iefix') format('embedded-opentype'),
    url('fonts/yta.ttf?z9d2s8') format('truetype'),
    url('fonts/yta.woff?z9d2s8') format('woff'),
    url('fonts/yta.svg?z9d2s8#yta') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="yta-"], [class*=" yta-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yta' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yta-menu_icon:before {
  content: "\e900";
  color: #fff;
}
.yta-slide_icon-up-down:before {
  content: "\e901";
  color: #fff;
}
.yta-yta_icon-white:before {
  content: "\e902";
  color: #fff;
}

@font-face {
  font-family: nunito;
  src:  url('./fonts/nunito-light.eot');
  src:  url('./fonts/nunito-light.eot') format('embedded-opentype'),
    url('./fonts/nunito-light.ttf') format('truetype'),
    url('./fonts/nunito-light.woff') format('woff'),
    url('./fonts/nunito-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: maaxRounded;
  src:  url('./fonts/maax-rounded.eot');
  src:  url('./fonts/maax-rounded.eot') format('embedded-opentype'),
    url('./fonts/maax-rounded.ttf') format('truetype'),
    url('./fonts/maax-rounded.woff') format('woff'),
    url('./fonts/maax-rounded.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: maaxRounded;
  src:  url('./fonts/maax-rounded-bold.eot');
  src:  url('./fonts/maax-rounded-bold.eot') format('embedded-opentype'),
    url('./fonts/maax-rounded-bold.ttf') format('truetype'),
    url('./fonts/maax-rounded-bold.woff') format('woff'),
    url('./fonts/maax-rounded-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}